{% ckan_extends %}

{% block organizations_search_form %}
{% endblock %}

{% block organizations_list %}
    {% if h.check_access('organization_overview', {}) %}
        {% if c.page.items or request.params %}
            {% if c.page.items %}
                {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
            {% endif %}
        {% else %}
            <p class="empty">
            {{ _('There are currently no organizations for this site') }}.
            {% if h.check_access('organization_create') %}
                {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
            {% endif %}
            </p>
        {% endif %}
    {% else %}
        <p class="empty">
        {{ _('There are currently no organizations for this site') }}.
        {% if h.check_access('organization_create') %}
            {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
        {% endif %}
        </p>
    {% endif %}
{% endblock %}

