.ui-sortable .sortable {
    cursor:pointer;
}
.ui-sortable .sortable:hover {
    background:rgba(244,251,17,0.45);
}

.ui-sortable .non-sortable {
    background: rgba(100, 100, 110, 0.5);
}

.role-div {
    max-width: 250px;
}

.auth-div {
    max-width: 450px;
}

.role-tr {
    width: 250px;
}

.rank {
    display:none;
}

.db_name {
    display:none;
}

.name-td {
    width: 109px;
}

.auth-table {
    width: 600px;
}

.right-button {
    width: 141px;
}

.right-button button {
    float: right;
}