{% extends "page.html" %}

{%- block styles %}
{{ super() }}
{% resource 'configpermission/css/base.css' %}
{% resource 'configpermission/js/tableManager.js' %}
{% resource 'configpermission/js/jquery_ui.js' %}
{% endblock -%}

{% block subtitle %}{{ _("Permission Management") }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
  <li class="active">{% link_for _('Import Datasets'), controller='ckanext.import_datasets.plugin:ImportDatasetsController', action='search_datasets' %}</li>
{% endblock %}

{% block primary_content %}
  {% block primary_content_inner %}

    <div id="roleblock" class="sort-block">
        <h1>Roles</h1>

        <table class="table" id="role-table">
            <tbody class="ui-sortable">
            {% for role in roles %}
                <tr class="{% if role.editable %}sortable{% else %}non-sortable{% endif %}">
                    <td class="name-td">{{role.display_name}}</td>
                    <td style="display:none">{{role.rank}}</td>
                    <td class="right-button"><button class="btn btn-danger btn-delete"><i class="icon-remove"></i></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form class="form-inline" id="role-form">
            <input type="text" class="input-medium" id="new-role-input" placeholder="Add Role...">
            <button type="submit" class="btn">Add</button>
        </form>
    </div>

    <!--<h1>Models</h1>-->

    <!--<table>-->
      <!--<tbody>-->
        <!--{% for model in models %}-->
          <!--<tr>-->
            <!--<td>{{model.name}}</td>-->
            <!--<td>{{model.id}}</td>-->
            <!--<td>{{model.min_role}}</td>-->
          <!--</tr>-->
        <!--{% endfor %}-->
      <!--</tbody>-->
    <!--</table>-->
  {% endblock %}
{% endblock %}
