{% set vis_stats = h.get_site_extra_statistics() %}


<div class="box stats">
    <div class="inner">
        <h3>Total number of digital assets under the Ebola+ program</h3>
        <ul>
            {% block stats_group %}
            <li style="width:100%">
                <p>
                    Total no. of assets
                    <strong>{{ h.SI_number_span(h.get_asset_count()) }}</strong>
                </p>
            </li>
            {% endblock %}
        </ul>
        <table style="border-collapse: collapse;border: 1px solid black;">
            <thead style="border: 1px solid black;">
            <tr style="border: 1px solid black;">
                <td style="border: 1px solid black;">Visibility</td>
                <td style="border: 1px solid black;">Assets</td>
            </tr>
            </thead>
            <tbody style="border: 1px solid black;">
            {% for org in vis_stats %}
            <tr style="font-size:16px;1px solid black;"">
                <td style="padding:5px;border: 1px solid black;">{{org}}</td>
                <td style="padding:5px;border: 1px solid black;"><strong>{{ "{}".format(vis_stats[org][0])}}</strong></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p style="font-size:12px">NOTE: based on your access rights to visibilities you will see different numbers of assets while browsing</p>
    </div>
</div>